{
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve",
        "singleQuote": true,
        "bracketSpacing": true
      }
    }
  ]
}
